@import "./public/node_modules/bootstrap/scss/_variables.scss";
.hidden {
    display: none;
}
.logo  {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    text-transform: uppercase;    
    line-height: 60px;
}

.carousel-title {
    z-index: 10;
}

.carousel-control-prev, .carousel-control-next {
    z-index:  100;
}

.carousel img {
    height: 50vh;
    object-fit: cover;
}

.hero-text {
    text-shadow: 3px 3px 4px rgba(0,0,0,0.66);

}